html {
  &::before {
    @include mq-json();
  }
}

body {
  &::before {
    content: '{"current": "default"}';
    display: none;

    @each $breakpoint in $mq-breakpoints {
      $mq-name: nth($breakpoint, 1);

      @include mq($mq-name) {
        content: '{"current": "#{$mq-name}"}';
      }
    }
  }
}
