/// Generate a json list of breakpoint
/// @param {map} $mq-map [$mq-breakpoints] - A map of breakpoint. Default value is $mq-breakpoints from sass-mq
@function mq-json($mq-map: $mq-breakpoints) {
  $length: length($mq-map);
  $content: '{';
  $i: 1;

  @each $breakpoint, $mq-value in $mq-map {
    $mq-name: nth($breakpoint, 1);
    $content: $content + '"' + $mq-name + '": "' + $mq-value + '"';

    @if ($length != $i) { 
      $content: $content + ', ';
    }

    $i: $i + 1;
  }
  
 @return $content + '}';
}

/// Expose a json list of breakpoints and the current breakpoint.
/// Require mixin mq <https://github.com/sass-mq/sass-mq>
/// @param {map} $mq-map [$mq-breakpoints] - A map of breakpoint. Default value is $mq-breakpoints from sass-mq
@mixin mq-expose($mq-map: $mq-breakpoints) {
  html::before {
    content: mq-json($mq-map);
    display: none;
  }
  
  body::before {
    content: '{"current": "default"}';
    display: none;

    @each $breakpoint in $mq-map {
      $mq-name: nth($breakpoint, 1);

      @include mq($mq-name) {
        content: '{"current": "#{$mq-name}"}';
      }
    }
  }
}
