/// Generate a json list of breakpoint (for libsass)
/// @require $mq-breakpoints
@function mq-json() {
  $length: length($mq-breakpoints);
  $content: '{';
  $i: 1;

  @each $breakpoint in $mq-breakpoints {
    $mq-name: nth($breakpoint, 1);
    $mq-value: map-get($mq-breakpoints, $mq-name);
    $content: $content + '"' + $mq-name + '": "' + $mq-value + '"';

    @if ($length != $i) {
      $content: $content + ', ';
    }

    $i: $i + 1;
  }
  
 @return $content + '}';
}

/// Expose a json list of breakpoints and the current breakpoint
/// @require mq-json()
@mixin mq-expose() {
  html::before {
    content: mq-json();
    display: none;
  }
  
  body::before {
    content: '{"current": "default"}';
    display: none;

    @each $breakpoint in $mq-breakpoints {
      $mq-name: nth($breakpoint, 1);

      @include mq($mq-name) {
        content: '{"current": "#{$mq-name}"}';
      }
    }
  }
}
